services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: tejashree-backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: tejashree-frontend
    ports:
      - "3000:3000"
